<h2>Lista de Superhéroes</h2>

<input id="filter-heroes" type="text" placeholder="Filtrar héroes" #filterInput (keyup)="filterHeroes(filterInput.value)">

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <div>
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
            <a [routerLink]="['/hero', hero.id]">
                <button type="button">Editar</button>
            </a>
            <button (click)="deleteHero(hero.id)" type="button">Borrar</button>
        </div>
    </li>
</ul>